<div class="grid grid-cols-1 md:grid-cols-4 gap-6 p-6">
  <app-event-card
    title="Tech Conference 2025"
    date="25 March 2025"
    location="Jakarta, Indonesia"
  >
  </app-event-card>

  <app-event-card
    title="Startup Meetup"
    date="10 April 2025"
    location="Surabaya, Indonesia"
  >
  </app-event-card>

  <app-event-card
    title="AI & Machine Learning Workshop"
    date="5 May 2025"
    location="Bandung, Indonesia"
  >
  </app-event-card>
  <app-event-card
    title="AI & Machine Learning Workshop"
    date="5 May 2025"
    location="Bandung, Indonesia"
  >
  </app-event-card>
</div>
